<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>이게 왜 내 냉장고에있지? :: 레시피</title>
        <link
            rel="shortcut icon"
            href="/staticfiles/images/teenplay_logo/logo1.png"
            type="image/x-icon"
        />
        <link rel="stylesheet" href="/static/recipe/web/css/recipe.css" />
    </head>
    <body>
        <nav class="main-top">
            <div class="main-top-in">
                <div class="main-top-in-warp">
                    <!-- 돋보기 / 검색 -->
                    <a href="" class="main-top-in-search"></a>
                    <!-- 뒤로가기 -->
                    <a href="/" class="main-top-in-back">
                        <span></span>
                    </a>
                    <!-- 검색창 -->
                    <span class="main-top-in-bar">
                        <input
                            type="text"
                            class="main-top-in-bar-input"
                            placeholder="재료명, 음식명"
                            autocomplete="off"
                        />
                    </span>
                </div>
            </div>
        </nav>
        <!-- 여기부터 몸통 -->
        <div class="main-re">
            <!-- 그 카테고리 만들기 -->
            <div class="main-category">
                <div class="main-category-in">
                    <div class="main-category-in-group">
                        <button
                            class="main-category-in-group-bu"
                            type="button"
                            onclick
                        >
                            추천순
                            <img
                                style="width: 14px"
                                src="https://recipe1.ezmember.co.kr/img/mobile/icon_sort.png?v.2"
                                alt=""
                            />
                        </button>
                    </div>
                </div>
            </div>
            <!-- 레시피 나오는곳 -->
            <div class="main-re-list">
                <ul class="main-re-list-ul">
                    <!-- 여기서 하나씩 나옴 -->
                    <li class="main-recipe">
                        <!-- 이미지 -->
                        <div class="main-recipe-img">
                            <a href="/">
                                <img
                                    src="https://recipe1.ezmember.co.kr/cache/recipe/2015/05/19/808d4dc4c5d9ca179b1b68937c8fd6f01_m.jpg"
                                    alt=""
                                />
                            </a>
                        </div>
                        <!-- 내용 -->
                        <div class="main-recipe-con">
                            <!-- 타이틀 -->
                            <div class="main-recipe-con-name">
                                <a href="/">녹차샤브레</a>
                            </div>
                            <!-- 제작자 -->
                            <div class="main-recipe-con-pe">
                                <a href="/">카푸치노</a>
                            </div>
                            <!-- 좋아요 / 조회수 -->
                            <div class="main-recipe-con-like">
                                <div class="main-recipe-con-like-star">
                                    <b>n</b>
                                </div>
                                <div class="main-recipe-con-like-count">
                                    조회수 n.nnn
                                </div>
                            </div>
                        </div>
                        <!-- 좋아여 -->
                        <div class="main-recipe-like">
                            <a href="">
                                <img
                                    src="https://recipe1.ezmember.co.kr/img/mobile/icon_star2_on.png"
                                    alt=""
                                />
                            </a>
                        </div>
                    </li>
                    <li class="main-recipe">
                        <!-- 이미지 -->
                        <div class="main-recipe-img">
                            <a href="/">
                                <img
                                    src="https://recipe1.ezmember.co.kr/cache/recipe/2015/05/19/808d4dc4c5d9ca179b1b68937c8fd6f01_m.jpg"
                                    alt=""
                                />
                            </a>
                        </div>
                        <!-- 내용 -->
                        <div class="main-recipe-con">
                            <!-- 타이틀 -->
                            <div class="main-recipe-con-name">
                                <a href="/">녹차샤브레</a>
                            </div>
                            <!-- 제작자 -->
                            <div class="main-recipe-con-pe">
                                <a href="/">카푸치노</a>
                            </div>
                            <!-- 좋아요 / 조회수 -->
                            <div class="main-recipe-con-like">
                                <div class="main-recipe-con-like-star">
                                    <b>n</b>
                                </div>
                                <div class="main-recipe-con-like-count">
                                    조회수 n.nnn
                                </div>
                            </div>
                        </div>
                        <!-- 좋아여 -->
                        <div class="main-recipe-like">
                            <a href="">
                                <img
                                    src="https://recipe1.ezmember.co.kr/img/mobile/icon_star2_on.png"
                                    alt=""
                                />
                            </a>
                        </div>
                    </li>
                    <li class="main-recipe">
                        <!-- 이미지 -->
                        <div class="main-recipe-img">
                            <a href="/">
                                <img
                                    src="https://recipe1.ezmember.co.kr/cache/recipe/2015/05/19/808d4dc4c5d9ca179b1b68937c8fd6f01_m.jpg"
                                    alt=""
                                />
                            </a>
                        </div>
                        <!-- 내용 -->
                        <div class="main-recipe-con">
                            <!-- 타이틀 -->
                            <div class="main-recipe-con-name">
                                <a href="/">녹차샤브레</a>
                            </div>
                            <!-- 제작자 -->
                            <div class="main-recipe-con-pe">
                                <a href="/">카푸치노</a>
                            </div>
                            <!-- 좋아요 / 조회수 -->
                            <div class="main-recipe-con-like">
                                <div class="main-recipe-con-like-star">
                                    <b>n</b>
                                </div>
                                <div class="main-recipe-con-like-count">
                                    조회수 n.nnn
                                </div>
                            </div>
                        </div>
                        <!-- 좋아여 -->
                        <div class="main-recipe-like">
                            <a href="">
                                <img
                                    src="https://recipe1.ezmember.co.kr/img/mobile/icon_star2_on.png"
                                    alt=""
                                />
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 하단부분 -->
        <div class="bottem" style="z-index: 21000">
            <ul class="bottem-ul">
                <!-- 카테고리임 사실상 -->
                <li class="bottem-ul-home">
                    <a href="/" class="bottem-ul-home-a">홈</a>
                </li>
                <li class="bottem-ul-re">
                    <a href="/" class="bottem-ul-re-a">레시피</a>
                </li>
                <li class="bottem-ul-like">
                    <a href="/" class="bottem-ul-like-a">좋아요</a>
                </li>
                <li class="bottem-ul-my">
                    <a href="/" class="bottem-ul-my-a">MY</a>
                </li>
            </ul>
        </div>
    </body>
</html>
