<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>마이페이지 :: 내 냉장고</title>
        <link
            rel="shortcut icon"
            href="/staticfiles/images/teenplay_logo/logo1.png"
            type="image/x-icon"
        />
        <link
            rel="stylesheet"
            href="/static/mypage/web/css/mypage-refrigerator.css"
        />
    </head>
    <body>
        <!-- 사실상 헤더 -->
        <nav class="top">
            <div class="top-warp">
                <div class="top-warp-in">
                    <a href="/" class="top-warp-in-a">
                        <span
                            class="top-warp-in-span"
                            aria-hidden="true"
                        ></span>
                    </a>
                    <!-- 위에 타이틀 -->
                    <span class="top-warp-in-span-title">내 냉장고</span>
                </div>
            </div>
        </nav>
        <!-- 사실상 몸통 -->
        <div class="main">
            <!-- 개인정보? 상단 사진 등 나오는 곳 -->
            <div class="main-top">
                <div>
                    <!-- 프사 들어가는곳 -->
                    <div class="main-top-img">
                        <img
                            src="https://recipe1.ezmember.co.kr/cache/rpf/2024/07/03/bf99dc70046f37f895063d46988df5fc1.jpg"
                            alt=""
                            class="main-top-img-in"
                        />
                    </div>
                    <!-- 우측 정보 -->
                    <div class="main-top-info">
                        <p class="main-top-info-name">조관익</p>
                        <p class="main-top-info-warp">
                            <span>
                                <a href="">
                                    내 레시피
                                    <b>n</b>
                                </a>
                            </span>
                            <span>
                                <a href="">
                                    내가 누른 좋아요
                                    <b>n</b>
                                </a>
                            </span>
                            <span>
                                <a href="">
                                    받은 좋아요
                                    <b>n</b>
                                </a>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <!-- 카테고리? -->
            <div class="main-category">
                <ul class="main-category-ul">
                    <!-- 세부 하나하나 -->
                    <li class="main-category-li active">
                        <a href="/"> 내 냉장고 </a>
                    </li>
                    <li class="main-category-li">
                        <a href="/"> 내 레시피 </a>
                    </li>
                    <li class="main-category-li">
                        <a href="/"> 내 정보 수정 </a>
                    </li>
                    <li class="main-category-li">
                        <a href="/"> 설정 </a>
                    </li>
                </ul>
                <div class="main-title">
                    <div class="main-title-all">
                        <span>재료 검색</span>
                    </div>
                    <form role="search" class="search-box">
                        <div class="search-box-in">
                            <input
                                type="text"
                                name="q"
                                id=""
                                autocomplete="off"
                                placeholder="재료 검색"
                                class="search-box-in-input"
                            />
                        </div>
                    </form>
                    <!-- 육류 파트 -->
                    <div class="main-title-all" style="margin-top: 30px">
                        <span>육류</span>
                    </div>
                    <!-- 재료 미등록시 -->
                    <span>아직 등록된 재료가 없어요! 재료를 등록해주세요!</span>
                    <!-- 재료 등록시 -->
                    <div class="main-title-meet">
                        <span
                            >앞다리살
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                width="8px"
                            >
                                <line x1="15" y1="5" x2="5" y2="15"></line>
                                <line x1="5" y1="5" x2="15" y2="15"></line>
                            </svg>
                        </span>
                        <span
                            >뒷다리살
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                width="8px"
                            >
                                <line x1="15" y1="5" x2="5" y2="15"></line>
                                <line x1="5" y1="5" x2="15" y2="15"></line>
                            </svg>
                        </span>
                    </div>
                    <div class="main-title-all" style="margin-top: 30px">
                        <span>해산물</span>
                    </div>
                    <!-- 재료 미등록시 -->
                    <span>아직 등록된 재료가 없어요! 재료를 등록해주세요!</span>
                    <!-- 재료 등록시 -->
                    <div class="main-title-meet">
                        <span
                            >연어
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                width="8px"
                            >
                                <line x1="15" y1="5" x2="5" y2="15"></line>
                                <line x1="5" y1="5" x2="15" y2="15"></line>
                            </svg>
                        </span>
                        <span
                            >쭈꾸미
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                width="8px"
                            >
                                <line x1="15" y1="5" x2="5" y2="15"></line>
                                <line x1="5" y1="5" x2="15" y2="15"></line>
                            </svg>
                        </span>
                    </div>
                    <div class="main-title-all" style="margin-top: 30px">
                        <span>채소</span>
                    </div>
                    <!-- 재료 미등록시 -->
                    <span>아직 등록된 재료가 없어요! 재료를 등록해주세요!</span>
                    <!-- 재료 등록시 -->
                    <div class="main-title-meet">
                        <span
                            >감자
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                width="8px"
                            >
                                <line x1="15" y1="5" x2="5" y2="15"></line>
                                <line x1="5" y1="5" x2="15" y2="15"></line>
                            </svg>
                        </span>
                        <span
                            >양배추
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                width="8px"
                            >
                                <line x1="15" y1="5" x2="5" y2="15"></line>
                                <line x1="5" y1="5" x2="15" y2="15"></line>
                            </svg>
                        </span>
                    </div>
                    <div class="main-title-all" style="margin-top: 30px">
                        <span>소스</span>
                    </div>
                    <!-- 재료 미등록시 -->
                    <span>아직 등록된 재료가 없어요! 재료를 등록해주세요!</span>
                    <!-- 재료 등록시 -->
                    <div class="main-title-meet">
                        <span
                            >간장
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                width="8px"
                            >
                                <line x1="15" y1="5" x2="5" y2="15"></line>
                                <line x1="5" y1="5" x2="15" y2="15"></line>
                            </svg>
                        </span>
                        <span
                            >고추장
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                width="8px"
                            >
                                <line x1="15" y1="5" x2="5" y2="15"></line>
                                <line x1="5" y1="5" x2="15" y2="15"></line>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- 하단부분 -->
        <div class="bottem" style="z-index: 21000">
            <ul class="bottem-ul">
                <!-- 카테고리임 사실상 -->
                <li class="bottem-ul-home">
                    <a href="/" class="bottem-ul-home-a">홈</a>
                </li>
                <li class="bottem-ul-re">
                    <a href="/" class="bottem-ul-re-a">레시피</a>
                </li>
                <li class="bottem-ul-like">
                    <a href="/" class="bottem-ul-like-a">좋아요</a>
                </li>
                <li class="bottem-ul-my">
                    <a href="/" class="bottem-ul-my-a">MY</a>
                </li>
            </ul>
        </div>
    </body>
</html>
